<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\RiskDsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("c3dd4cb7-ffa6-4897-a510-f0461dd951d4");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
