<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\RiskDsl\DslDefinition.dsl'" #>
<#@ include file="Dsl\SerializationHelper.tt" #>
<#@ include file="Dsl\MonikerAmbiguityValidation.tt" #>
<#
	GenerateMonikerAmbiguityValidation(this.DslLibrary);
#>