<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("9b581061-f5bb-4dcb-9894-c0dec4184938");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
